.temp {
  font-family:"SCDream4";
}


.detail_image_container {
  width: 100%;
  height: 500px;
  margin: 0, auto;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.detail_image {
  display: block;
  margin: auto;
}

.detail_title {
  margin: 10px 0px;
  font-weight: 700;
}

.detail_title_container {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.detail_button_container {
  margin: 0px;
  margin-top: 30px;
  text-align: right;
}

.detail_content_box{
  width: 100%;
}

.detail_shareBtn {
  border: none;
  background-color: white;
  width: 32px;
}

.detail_cardBtn {
  /* position: absolute; */
  border: none;
  background-color: white;
}

.detail_content {
  /* width: 300px; */
  height: 67%;
  /* border : 1px solid red; */
  /* padding: 100px; */
  font-size: auto;
  /* background-color: rgb(225, 248, 231); */
  /* color: rgb(55, 146, 81); */
}

.detail_content_container {
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  font-size: 20px;
  /* border : 3px solid rgba(147, 224, 161); */
  /* border-radius: 10px; */
}

.detail_content_line {
  margin: 10px;
}

.detail_content_text {
  font-weight: 600;
}

.detail_content_data {
  margin-left: 15px;
}

.detail_button_apply{
  position: fixed;
  bottom: 0;
  left: 0;
  /* height: 100%; */
  width: 100%;
  padding: 10px;
  margin: 3px;
  border-radius: 6px;
  border: none;
  background-color: rgba(122, 226, 155);
  color: white;
}

.detail_card_container {
  display: flex;
  width: 100%;
}

.detail_card_info {
  margin : 10px;
  width: 20%;
  height: 300px;
  background-size: cover;
}

/* .card_image_container {
width: 300px;
height: 300px;
} */

.detail_coment_content {
  border-bottom: 1px solid gray;

}

.detail_comment_container {
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  font-size: 20px ;
  /* border : 3px solid rgba(147, 224, 161); */
  border-radius: 10px;
}

.detail_comment_content {
  display: flex;
}

.detail_comment_profile{
  display: flex;
  flex-direction: column;
  width: 50px;
}

.detail_comment_face {
  width: 50px;
}

.detail_comment_name {
  text-align: center;
  width: 50px
}

.detail_comment_text {
  text-align: center;
  margin: auto 0;
  padding-left: 10px;
}

/* .cardImg {
  position: absolute;
  left: 0;
  top: 0;
  height: 180px;
  border-radius: 10px 10px 0 0;
} */

/* .card-body {
  position: relative;
  width: 180px;
  height: 300px;
  box-shadow: 0px 0px 5px 1px #e4e4e4;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
} */

.detail_card_body {
  display: flex;
  width: 500px;
}

.detail_nav_first {
  /* margin-top: 30px; */
  color:rgba(147, 224, 161);
  border-bottom: 3px solid rgba(147, 224, 161);
  /* border-radius: 10px; */
}

.detail_nav_second {
  /* margin-top: 30px; */
  color:rgba(147, 224, 161);
  /* border-bottom: 3px solid rgba(147, 224, 161); */
  /* border-right: 3px solid rgba(147, 224, 161); */
  /* border-radius: 10px; */
}
.nav_link_container{
  display: flex;
}

/* .nav_container{
  display: flex;
  flex-direction:column;
  border: 3px solid rgba(147, 224, 161);
  border-radius: 10px;
  margin-top: 20px;
} */


@media screen and (min-width: 564px) {
  .detail_title{
    font-size: 30px;
    width: 100%;
  }
  .detail_image_container{
    width: 100%;
  }
    .detail_content{
    padding : 1px;
  }
}

@media screen and (min-width: 768px) {
  .detail_title{
    font-size: 30px;
    width: 100%;
  }

  .detail_image_container{
    width: 100%;
  }
  .detail_button_apply {
    position:inherit
  }
  .detail_title{
    font-size: 30px;
    width: 100%;
  }
  .detail_content{
    padding : 30px 0px;
  }
}

@media screen and (min-width: 1300px) {

}