.cardContainer {
  position: relative;
  width: 210px;
  height: 300px;
  box-shadow: 0px 0px 5px 1px #e4e4e4;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cardImg {
  position: absolute;
  left: 0;
  top: 0;
  height: 210px;
  border-radius: 10px 10px 0 0;
}
.cardTitle {
  position: absolute;
  left: 10px;
  top: 220px;
  width: 180px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardDate {
  position: absolute;
  left: 10px;
  top: 245px;
  /* width: 115px; */
  font-size: 11px;
  color: #acacac;
  font-family: "GmarketSansMedium";
}
.cardBtn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  outline: none;
  border: none;
  background-color: white;
}
.cardBtn > img {
  width: 20px;
}
.badge {
  font-size: 16px;
}

.slider {
  margin-bottom: 15px;
}

.slider img {
  height: 260px;
}

.slider h3 {
  font-family: GmarketSansBold;
  font-style: italic;
  font-size: 35px;
  color: white;
}

.badgeContainer {
  margin: 0 0 10px 10px;
}
/* location 변경 */

/* mediaQuery */

@media screen and (max-width:767px) {
  .badgeContainer {
    width: 100%;
    margin: "0 auto";
  }
}

/* sm 사이즈  */
@media screen and (max-width:767px) {
  .festival {
    text-align: center;
    font-size: 20px;
  }
  .cardContainer {
    width: 280px;
    height: 410px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .cardImg {
    height: 310px;
  }
  .cardTitle {
    top: 320px;
    width: 220px;
    font-size: 18px;
  }
  .cardDate {
    top: 350px;
    font-size: 12px;
  }
  .cardBtn {
    padding: 10px;
  }
  .cardBtn > img {
    width: 25px;
  }
  .badge {
    font-size: 14px;
    padding: 6px 10px;
  }
  .badgeContainer {
    width: 100%;
  }
}

/* md 사이즈 */
@media screen and (min-width:768px) and (max-width: 992px) {
  .cardGrid col-lg-3 col-md-6 {
    padding: 0;
  }
  .badgeContainer {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .festival {
    text-align: center;
    font-size: 25px;
  }
  .cardContainer {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .cardImg {
    height: 290px;
  }
  .cardTitle {
    top: 300px;
    width: 250px;
    font-size: 18px;
  }
  .cardDate {
    font-size: 12px;
    top: 330px;
  }
  .cardBtn {
    padding: 10px;
  }
  .cardBtn > img {
    width: 25px;
  }
  .badge {
    font-size: 17px;
    padding: px 10px;
  }
  .badgeContainer {
    width: 100%;
  }
  .slider h3 {
    font-family: GmarketSansBold;
    font-style: italic;
    font-size: 35px;
    color: white;
  }
}

/* l 사이즈 */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 936px;
  }
  .cardContainer {
    width: 93%;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .cardImg {
    height: 200px;
  }
  .cardTitle {
    font-size: 15px;
    width: 160px;
    left: 10px;
    top: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .cardDate {
    font-size: 11px;
    top: 235px;
  }
  .cardBtn {
    padding: 10px;
  }
  .cardBtn > img {
    width: 20px;
  }
  .badge {
    font-size: 20px;
  }

  /* 배너 */

  .slider {
    margin-bottom: 30px;
  }
  .slider img {
    height: 350px;
  }

  .slider h3 {
    font-family: GmarketSansBold;
    font-style: italic;
    font-size: 50px;
    color: white;
  }
}
