
.main{
  display: flex;
  background-image: url(../image/mainBgImg.png);
  background-position: center top 150px;
  background-size: cover;
  align-items: center;
  height: 1500px;
  flex-direction: column;
  background-repeat: no-repeat;
}

.mainInfo_text{
  display: flex;
  margin-top: 80px;
  text-align: center;
  font-family: 'GmarketSansMedium';
}

.headline{
  display: flex;
  margin-top: 160px;
}

.headline_text{
  color:white;
  font-weight: bold;
  font-size: 2.9rem;
  letter-spacing: 0.3rem;
  font-family: 'GmarketSansBold';
}

.startButton{
  margin-top: 15px;
  width: 160px;
  height: 50px;
  background-image: url(../image/startButton.png);
  background-position: center;
  background-size:contain ;
  background-repeat: no-repeat;
  cursor: pointer;
}

.startButton:hover{
 width: 170px;
 transition: 0.1s;
 filter: brightness(80%);
}
