.menubar {
  width: 100%;
  background-color: #49e594;
  font-weight: bold;
  height: 55px;
  top: 0;
  font-family: "GmarketSansBold";
}

.menubar_icons {
  margin: auto auto;
}

@media screen and (min-width: 768px) {
  .startButton {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  .menubar_name2 {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .menubar_name1 {
    display: none;
  }
}

.menubar_profile {
  font-size: 5px;
}
