.menubar {
  background-color: #49e594;
  font-weight: bold;
  justify-content: center;
  width: 390px;
  height: 55px;
  top: 0;
  margin: auto auto;
  font-family: 'GmarketSansBold';
}

*:focus {
  outline: 0;
}

.menubar_icons {
  margin: auto auto;
}

@media screen and (min-width: 990px){
    .menubar_name2{
    display:none;
    }
}

@media screen and (max-width: 990px){
    .menubar_name1{
    display:none;
    }
}

.menubar_profile{
  font-size : 5px;
}