/* mobileSize */

/* profileTop */
.profileUser {
  position: relative;
  padding: 70px 0 42px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileUserImg {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 21px 29px;
}

.profileUserImg > img {
  display: block;
  margin-bottom: 5px;
  width: 70px;
}

.userName {
  font-size: 20px;
  height: 19px;
  font-weight: 800;
}

.userMail {
  font-size: 14px;
  font-weight: 500;
}

/* profileBottom */

.profileLists {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.profileLists li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 19px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.profileLists li span:first-child {
  margin-right: 20px;
  cursor: pointer;
}

.profileLists li span:first-child img {
  width: 25px;
}

.profileLists li span:last-child {
  font-size: 18px;
  font-family:"SCDream4";
  font-weight: 500;
  line-height: 1.2em;
  cursor: pointer;
}

.buttons {
  background-color: rgba(red, green, blue, alpha);
}

/* 프로필 변경 */

.editNameInput {
  width: 160px;
  height: 25px;
  border: none;
  border-bottom: 1px solid;
}

.editNameButton {
  width: 50px;
  height: 25px;
  font-size: 13px;
  border: none;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.011);
}

.editText {
  display: flex;
  justify-content: spac;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.editText span:last-child {
  color: blueviolet;
}

.editImg {
  display: flex;
  justify-content: center;
}

/* Distance */

.distanceStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.distanceStatus span {
  opacity: 0.6;
  font-weight: 600;
}

.distanceSumText {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.distanceButton {
  font-weight: 600;
  font-size: 15px;
  height: 40px;
}

.healthTip h5 {
  font-size: 20px;
  font-weight: 600;
}

.healthTip p {
  font-size: 15px;
  opacity: 0.6;
}

/* Wastes */

.icons {
  background-color: blanchedalmond;
  display: flex;
  border-radius: 10px;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
}

.icons:first-child {
  display: flex;
  flex-direction: column;
}

.icons:first-child {
  margin-bottom: 10px;
}

.icons span:first-child {
  font-size: 12px;
  margin-right: 1px;
  font-weight: 700;
}

.icons span:last-child {
  font-size: 12px;
  font-weight: 600;
}

.icon {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon h6 {
  margin-bottom: 17px;
  font-size: 12px;
  border-bottom: 0.7px solid black;
  font-weight: 600;
}

.icons img {
  width: 40px;
  margin-bottom: 10px;
}
