/* .running{
  display: flex;
  
  width: 100%;
  height: 100%;

  border: 2px solid blue;
}  */


.running_topBarBox{
  display: flex;
  position: fixed;
  top: 120px;
  width: 100%;
  height: 70px;
  z-index: 1;
  justify-content: center;

}

.running_topBar{
  display: flex;
  position: fixed;
  top: 120px;
  width: 80vw;
  height: 70px;
  z-index: 1;
}

.running_topBar_searchBar{
  display: flex;
  flex-basis: 0;
  flex-grow: 5;
  background-image: url('../image/locationSearchImg.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: center;
  
}

.running_topBar_startRunning{
  display: flex;
  font-family: 'GmarketSansBold';
  font-size: 1.5rem;
  align-items: center;
  width: 332px;
}

.plogtime{
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  border-right: 4px solid #A6A6A6 ;
  
}

.picktrash{
  display: flex;
  flex-grow: 1.5;
  flex-basis: 0;
  justify-content: center;

}

.running_topBar_searchBar_Img{
  flex-grow: 1;
  background-image: url('../image/serchBarFlagImg.png');
  background-size: 3vh 3vh;
  background-position: center right;
  background-repeat: no-repeat;

}

.running_topBar_searchBar_text{
  display: flex;
  flex-grow: 1;
  font-family: 'GmarketSansBold';
  font-size: 2.5vh;
  align-items: center;
  justify-content: start;
  color: #A6A6A6;
}

/* .running_topBar_searchBar_empty{
  flex-grow: 3;
} */

.running_topBar_empty{
  display: flex;
  flex-basis: 0;
  flex-grow: 0.5;
}

.running_topBar_trashCan{
  display: flex;
  flex-basis: 0;

  flex-grow: 1;
  background-image: url('../image/trashCanButtonImg.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  cursor: pointer;

}

.running_bottomBar_add{
  display: flex;
  position: fixed;

  right: 7vw;
  bottom:170px;
  width: 60px;
  height: 60px;
  z-index: 1;


  background-image: url('../image/myLocBtn.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  cursor: pointer;

}
.running_bottomBarBox{
  display: flex;
  position: fixed;
  width: 100%;
  height: 20vh;
  bottom:0;
justify-content: center;

  z-index: 2;
}
.running_bottomBar{
  display: flex;
  position: fixed;

  bottom:0;

  width:100vw;
  height: 20vh;
  z-index: 2;

}


.running_bottomBar_first{
  flex-grow: 1;
  flex-basis: 0;

  background-image: url('../image/routeSettingBtn.png');
  background-size: 9vh;
  background-position: center right;
  background-repeat: no-repeat;

  cursor: pointer;

}


.running_bottomBar_second{
  flex-grow: 1;
  flex-basis: 0;


  background-image: url('../image/startBtn.png');
  background-size: 13vh;
  background-position: center center;
  background-repeat: no-repeat;

  cursor: pointer;

}
.running_bottomBar_third{
  flex-grow: 1;
  flex-basis: 0;


  background-image: url('../image/endPointBtn.png');
  background-size: 9vh;
  background-position: center left;
  background-repeat: no-repeat;
  cursor: pointer;
}


.left_button {
  position: absolute;
  z-index: 3;
  width: 300px;
  height: 300px ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(122,226,155); */
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding : 10px;
  box-shadow: 3px 3px 3px gray;
}


.left_button_path {
  display: flex;
  border-bottom: 1px solid gray;
  height: 40px;
  align-items: center;
  justify-content: center;

}

.left_button_container {
  margin: 10px 0;
}

.left_button_detail_text{
  text-align: center;
  margin-left: 10px;
}

.left_button_detail{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  /* flex-basis:auto; */
}
.left_button_detail_icon_container{
  display: flex;
  align-items: center;
}

.left_button_detail_icon_image{
  width: 30px;
  height: 30px;
}

.left_button_detail_button_image{
  width: 30px;
  height: 30px;
}

.endpoint{
  filter:brightness(60%);
  }

.showOnPc_container{
display: none;
}
@media screen and (max-width:767px) {
  .home_btn {
    display: none;
  }
}

@media screen and (min-width:767px) {
  .running_container {
    display: none;
  }
  .showOnPc_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "GmarketSansMedium";
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 10;
    text-align: center;
  }
  .showOnPc_img {
    margin-bottom: 10px;
  }
  .showOnPc_img > img {
    width: 120px;
  }
  .showOnPc_content {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .showOnPc_btn {
    color: white;
    display: flex;
    width: 160px;
    height: 50px;
    background-image: url(../image/mainButton.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
  }
  
  .showOnPc_btn:hover{
    width: 170px;
    transition: 0.1s;
    font-size: 1.2rem;
    filter: brightness(80%);
  }

}

.routeShadow{
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}