/* button {
  width: 50%;
  font-size: 18px;
  font-weight: 400;
  border: 1px none;
  background-color: white;
} */

/* button::after {
  transform: translateY(2px);
  content: "";
  display: block;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
} */

/* button:hover {
  transition: ease-in-out 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 3);
  font-size: 19px;
} */

.writingContainer {
  height: "65vh";
  overflow: "hidden";
}

.writingLists {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  justify-content: "space-between";
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.username {
  font-size: 13px;
  margin-right: 5px;
  opacity: 0.7;
  font-weight: 400;
}

.writingDate {
  font-size: 13px;
  opacity: 0.7;
  font-weight: 400;
}

.ListsRightImg {
  width: 100%;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 5px;
}

.writingComment {
  width: "8vw";
  padding: 5px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  text-align: center;
}
