.menubar {
  background-color: #79e39b;
  font-weight: bold;
  justify-content: center;
  
  width: 390px;
  height: 55px;
  top: 0;
  margin: auto auto
}

.menubar_icons {
  margin: auto auto;
}


.menubar_icons_main{
  display: flex;
  flex-grow: 1;
  flex-basis: 0;

}

.menubar_icons_event{

  display: flex;
  flex-grow: 1;
  flex-basis: 0;

}